doctype html
html(lang="zh-tw")
  head
    title Padnews
    link(rel="stylesheet" href="/css/han.css")
    link(rel="stylesheet" href="/css/main.css")
  body
    - for(i=news.length-1; entry=news[i]; --i)
      section.entry
        span.time
          a(href="/#{i}") #{entry.time}
        span.location [#{entry.location}]
        if i >= news.length-20
          for p in entry.content
            p.content #{p}
        else
          a.empty(href="/#{i}") +
    script(src="//code.jquery.com/jquery-2.1.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/index.js")
