doctype html
html
  head
    title Padnews
    style.
      body {
        background: #16161D;
      }
      .time {
        color: magenta;
      }
      .location {
        color: green;
      }
      .content {
        color: white;
      }
  body
    - for(i=news.length-1; entry=news[i]; --i)
      section.entry
        span.time #{entry.time}
        span.location [#{entry.location}]
        - for(j=entry.content.length-1; p=entry.content[j]; --j)
          p.content #{p}
    script(src="//code.jquery.com/jquery-2.1.0.min.js")
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io.connect('/');
      socket.on('msg', function(data) {
        console.log(data);
      });
      socket.on('patch', function(data) {
        var $sec, j, i;

        $sec = $('<section class="entry"><span class="time">' + data.value.time + '</span><span class="location">[' + data.value.location + ']</span></section>')
        for(j in data.value.content)
          $sec.append('<p>' + data.value.content[j] + '</p>')

        i = +data.path.substr(1);

        switch(data.op) {
          case 'add':
            $('body').prepend($sec);
            break;
          case 'replace':
            $('.entry').eq(-i-1).replaceWith($sec);
            break;
        }
      });
